<mat-toolbar color="primary" style="padding: 48px 32px">
    <span class="fill-remaining-space"></span>
    <span>Lab Mandiri: Membuat Form dengan Angular Material</span>
    <span class="fill-remaining-space"></span>
</mat-toolbar>

<div id="material-example" style="padding: 32px;">
    <mat-card style="padding: 32px; background-color: #1D1D1D;">
        <mat-card-title>Form Pegawai</mat-card-title><br><br>
        <mat-card-content>
            <app-employees></app-employees>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>
</div>


