<div class="example-container">
    <form [formGroup]="service.form" class="normal-form">
        <input type="hidden" formControlName="$key">
        <mat-form-field appearance="fill">
            <mat-label>Full Name</mat-label>
            <input formControlName="fullName" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
            <mat-error>Invalid email address</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Mobile</mat-label>
            <input formControlName="mobile" matInput>
            <mat-error *ngIf="service.form.controls['mobile'].errors?.required">This field is mandatory</mat-error>
            <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength">Minimum 8 characters needed</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input formControlName="city" matInput>
        </mat-form-field>
        <label>Gender: </label>
        <mat-radio-group formControlName="gender">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
            <mat-radio-button value="3">Other</mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="fill">
            <mat-label>Departement</mat-label>
            <mat-select formControlName="department" aria-placeholder="Department">
                <mat-option>None</mat-option>
                <ng-container *ngFor="let department of departments">
                    <mat-option value="{{ department.id }}">{{ department.value }}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Hire date</mat-label>
            <input formControlName="hireDate" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
        <br><br><br>
        <div class="button-row">
            <button mat-raised-button color="primary" type="submit" style="margin-right: 8px;">Submit</button>
            <button mat-flat-button (click)="onClear()">Clear</button>
        </div>
    </form>
</div>