/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #121212;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 10px;
}

.example-container .mat-form-field {
    width: 24.3%;
}

.example-container form {
    margin-bottom: 20px;
}

.example-container form > * {
    margin: 5px 0;
}

.example-container .mat-radio-button {
    margin: 18px 11px;
}

.example-container .mat-checkbox {
    margin-left: 10px;
}
